.pipe {
    background: url('../img/pipe.svg') no-repeat;
    background-size: 100%;
    background-position: bottom right;
}

.spaceman {
    background: url("../img/pipe2.svg") no-repeat;
    background-position: bottom left;
    background-size: 100%;
}

.flip {
    position: relative;
}

.half.flip.right {
    left: 50%;
}

.half.flip.left {
    right: 50%;
}

.wider.flip.right {
    left: 40%;
}

.closer.flip.left {
    right: 60%;
}

.closer.flip.right {
    left: 60%;
}

.wider.flip.left {
    right: 40%;
}

.desktop-invisible {
    display: none !important;
}