body, html {
    height: 100%;
}

body {
    font-family: 'Cairo', sans-serif;
    padding-top: 50px;
}

p {
    font-size: 1.7rem;
}

nav.navbar div.container-fluid div a {
    font-size: 1.7rem;
}

nav.navbar div.container-fluid div a, .footer {
    color: gainsboro;
}

nav.navbar div.container-fluid div a:hover, .footer:hover {
    color: #ebebeb;
}

.navbar {
    background-color: #303030;
}

.navbar-brand span {
    padding-right: 1rem;
}

.header {
    width: 100%;
    height: 70%;
    background-color: aliceblue;
    background-size: cover;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header div.text {
    text-align: center;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3rem;
}

.container {
    margin: 0 1rem;
}

.footer {
    font-size: 1.5rem;
    margin-top: 10rem;
    background-color: #404040;
}

.footer dt {
    font-weight: normal;
    display: none;
}

.footer dt:first-of-type {
    font-weight: bold;
    font-size: 2.5rem;
    display: inline-block;
}

.footer div.copyright {
    font-family: 'Montserrat', sans-serif;
    background-color: #303030;
    padding: 2rem 0;
}

.footer div.info {
    padding: 5rem 0;
}

/*testing*/
